<h1>About</h1>
<p>
	<%= link_to "Anchor Media Solutions", "http://anchormediasolutions.com" %> is a design agency based in Corpus Christi, TX. Here is a link to our <%= link_to "Facebook Page", "http://facebook.com/anchorms" %>. This is a Sample Application made by Anchor Media Solutions for testing purposes.
</p>
